<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PV Player</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var domain = 'http://song.node';
        var socket = io.connect(domain);
        var songsList = "{{ playlist }}";
        socket.on('refreshList',function (data) {
            songsList = data;
            if(player.getPlayerState() == 5) {
                yplayer.playNextSong();
            }
        });
    </script>
</head>
<body>
<h1>Add you favourite playlists or videos here </h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <form action="" id="addYoutube">
                <input type="text" class="form-control"  class="form-control" name="videoUrl" id="videoUrl">
                <input type="submit">
            </form>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Playlist</div>

                <!-- Table -->
                <table class="table">

                    <thead>
                    <tr>
                        <th> Song Name</th>
                        <th>Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            asd
                        </td>
                        <td>zxc</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>



<script type="text/javascript">

    function isValidYouTubeUrl(url) {
        if (url != undefined || url != '') {
            var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=|\?v=)([^#\&\?]*).*/;
            var match = url.match(regExp);
            if (match && match[2].length == 11) {
                return true;
            } else {
                return false;
                // Do anything for not being valid
            }
        }
    }

    $(document).ready(function () {
        $('#addYoutube').on('submit',function (event) {
            var videourl = $('#videoUrl').val();
            if(!isValidYouTubeUrl(videourl)) {
                alert('invalid url');
                return false;
            }
            event.preventDefault();
            $.ajax({
                url : domain+'/add/video?videourl='+videourl,
                success : function (response) {
                    console.log(response.success);
                    if(response.success) {
                        alert('Your video has been added.');
                        $('#videoUrl').val('');
                        socket.emit('add',response.data);
                    }
                }

            });
        });
    })
</script>

</body>
</html>
